@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
    font-family: 'Manrope', sans-serif;
    box-sizing: border-box;
    
}

html,
body {
     background: linear-gradient(to right bottom, #f7a64e, #ff6b6b, #a04cf7);
}

.register_body{
    
    background-image: linear-gradient(to left bottom, #4112ff, #005aff, #0080ff, #009fff, #5bbaff, #67bcff, #71bdff, #7bbfff, #5ca7ff, #598aff, #7167fd, #9232e8, 598aff), url(./assets/hero.png);

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 40px;
    color: white;
    height: 90px;
}   

header .logo {
    font-weight: bold;
}

header .pages ul{
    display: flex;
    list-style-type: none;
}

header .pages li a{
    color: white;
    text-decoration: none;
    padding-right: 20px;
}


.container {
    max-width: auto;
}

#home {
    height: calc(100vh-90px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#home .info-section{
    width: 50%;
    padding-bottom: 300px;
}

#home .info-section h1 {
    font-size: 4rem;
    font-weight: 900;
    color: white;
    margin-bottom: 2rem;
    line-height: 4.5rem;
}


#home .info-section h4 {
    font-size: 1.2rem;
    font-weight: 300;
    color: white;
    margin-bottom: 2rem;
    letter-spacing: normal;
}

#home .info-section .actions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#home .photo {
    padding-left: 5rem;
    margin-bottom: auto;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown_hover {
    display: inline-block;
    padding: 10px;
    color: #6D008C;
    background-color: transparent;
    border: solid;
    border-width: 4px;
    border-color: #6D008C;
}

.dropdown_hover:hover{
    background: rgba(255, 255, 255, 0.534);
}

.dropdown_menu{
    position: absolute;
    display: none;
    min-width: 300px;
    background: white;
    color:inherit;
    box-shadow: 0 3px 2px white;
}

.dropdown:hover .dropdown_menu {
    display: block;
}

.dropdown_menu a{
    display: block;
    margin: auto;
    padding: 0.5rem;
    color: #76009d !important;
    text-decoration: none;
    border: none;
    border-top: solid 1px rgb(197, 197, 197);
}
    
.dropdown_menu a:hover {
    background: rgba(176, 176, 176, 0.534);
}

.inAction {
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    background-color: #4112ff;
    border: none;
    cursor: pointer;
}

.inAction:hover{
    background-color: #5328ff;
}

.inAction a{
    text-decoration: none;
    color: white;
}

.asset_form {    
    background-color: rgba(1, 0, 0, 0.376);
    backdrop-filter: blur(5px);
    border-radius: 2.5rem;
    width: 37rem;
    padding: 30px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(1, 0, 0, 0.376);
    margin: 0 auto;
}

.register_body .asset_form {    
    width: 39rem;
}

.recordAct_body .asset_form {
    width: 40.5rem;
}

.updateAsset_body .asset_form {    
    width: 40.5rem;
}

.recordAct_body .asset_form{    
    width: 38.5rem;
}

.updateAct_body .container{
    width: 50rem;
}

.asset_form .formEdit {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.asset_form .formEdit {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.col1{
    
    margin-left: 2.5rem;
    margin: right 2.5rem;;
    display: inline-block;
}

.asset_form h4 {
    margin-top: 5px;
}

.form_class {
    color: white;
    align-self: center;
}

.input-field input{
    background-color: transparent;
    border-style: solid;
    border-width: 0.12rem;
    border-radius: 0.3rem;
    border-color: white;
    height: 2rem;
    width: 100%;
    margin-bottom: 1rem;
}

.select_class {
    height: 2rem;
    border-radius:4px;border:1px;
    width: 100%;
    margin-bottom: 1rem;
}


.titleLabel {
    margin-bottom: 5px;
}

.btn-submit {
    height: 2rem;
    width: 100%;
    border-radius: 2rem;
    background-color: white;
    border: none;
    cursor: pointer;
}

#record_submit{
    margin-top: 20px;
}

.btn-submit:hover {
    background-color: #005aff;
    color: white;
}

#choice {
    display: flex;
    justify-content: space-around;
}

#choice #choice1, #choice #choice2{
    display:flex;
    justify-content: flex-start;
}

#choice #choice1 label, #choice #choice2 label {
    margin-top: 5px;
    margin-left: 10px;
}

.updateAsset_body .btn-submit {
    margin-top:15px;
}

.deleteActPrompt_Body .asset_form .form_class .btn-submit,
.deleteActPrompt_Body .asset_form .form_class .select_class{
    width: 50%;
}